/* slider sec starts============================================================================ */
.carosal-heading {
  font-size: 60px;
}
.carosal-paragrapgh {
  color: #b6b3b3;
}
/* slider sec ends============================================================================ */
/* ready-to-join-sec========================================================================== */
.ready-to-join-sec-bg {
  background-color: #289bde;
}
